#rendering
public net.minecraft.client.renderer.RenderItem func_191965_a(Lnet/minecraft/client/renderer/block/model/IBakedModel;I)V # renderModel
public net.minecraft.client.renderer.RenderItem func_191961_a(Lnet/minecraft/client/renderer/block/model/IBakedModel;Lnet/minecraft/item/ItemStack;)V # renderModel

#TextureMap
protected net.minecraft.client.renderer.texture.TextureMap field_94252_e # mapUploadedSprites
protected net.minecraft.client.renderer.texture.TextureMap field_94258_i # listAnimatedSprites
protected net.minecraft.client.renderer.texture.TextureMap field_94249_f # missingImage
protected net.minecraft.client.renderer.texture.TextureMap field_94254_c # basePath
protected net.minecraft.client.renderer.texture.TextureMap field_110574_e # mapRegisteredSprites
protected net.minecraft.client.renderer.texture.TextureMap func_110569_e()V # initMissingImage

#GuiRecipeBook
public net.minecraft.client.gui.recipebook.GuiRecipeBook field_191904_o # width
public net.minecraft.client.gui.recipebook.GuiRecipeBook field_191905_p # height
public net.minecraft.client.gui.recipebook.GuiRecipeBook field_191903_n # xOffset
public net.minecraft.client.gui.recipebook.GuiRecipeBook field_193018_j # recipeTabs

#Ingredient
public net.minecraft.item.crafting.Ingredient field_193371_b # matchingStacks

public net.minecraft.block.BlockCrops func_185527_x(Lnet/minecraft/block/state/IBlockState;)I # getAge
public net.minecraft.client.multiplayer.PlayerControllerMP field_78770_f # curBlockDamageMP
public net.minecraft.item.ItemTool field_77862_b # toolMaterial

# Mob related ATs
public net.minecraft.entity.EntityLiving field_70728_aV # experienceValue
public net.minecraft.entity.Entity func_70022_Q()Ljava/lang/String; # getEntityString

# Looting related ATs
public net.minecraft.world.storage.loot.LootEntryTable field_186371_a # table
public net.minecraft.world.storage.loot.LootEntry field_186366_e # conditions
public net.minecraft.world.storage.loot.functions.LootFunction field_186555_a # conditions
public net.minecraft.world.storage.loot.functions.SetCount field_186568_a # countRange
public net.minecraft.world.storage.loot.functions.SetMetadata field_186573_b # metaRange
public net.minecraft.world.storage.loot.conditions.EntityHasProperty field_186623_a # properties
public net.minecraft.world.storage.loot.conditions.RandomChance field_186630_a # chance
public net.minecraft.world.storage.loot.conditions.RandomChanceWithLooting field_186627_a # chance

public net.minecraft.world.chunk.Chunk field_76636_d # isChunkLoaded
public net.minecraft.world.chunk.ChunkPrimer field_177860_a # data
public net.minecraft.world.gen.structure.StructureStart func_75072_c()V # updateBoundingBox
public net.minecraft.block.SoundType field_185862_o # breakSound
public net.minecraft.world.biome.Biome field_76791_y # biomeName

